In [12]:
# Dependencies
from bs4 import BeautifulSoup
from splinter import Browser
import pandas as pd
import time

In [13]:
!which chromedriver

/usr/local/bin/chromedriver

In [14]:
# Choose the executable path to driver 
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

In [21]:
# NASA URL, scrape the page
# Mars News
url = 'https://mars.nasa.gov/news/'
browser.visit(url)

# Pulling in data
html = browser.html

# Create BeautifulSoup object; parse with 'lxml'
soup = BeautifulSoup(html, 'html.parser')

In [22]:
# Retrieve the latest article title
news_title = soup.find('div', class_='content_title').text
print(news_title)

Media Get a Close-Up of NASA's Mars 2020 Rover

In [23]:
# Mars News
# Latest article text
news_p = soup.find('div', class_='article_teaser_body').text
print(news_p)

The clean room at NASA's Jet Propulsion Laboratory was open to the media to see NASA's next Mars explorer before it leaves for Florida in preparation for a summertime launch.

In [26]:
# Space Images
# Visit the url for JPL Featured Space Images through splinter module
url='https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url)

In [27]:
# Click on the the button to get to the full image
image_full=browser.find_by_id('full_image')
image_full.click()
time.sleep(2)
browser.click_link_by_partial_text('more info')

In [28]:
# Find the image url to the full size
html_image = browser.html

#Parse with 'html.parser
soup = BeautifulSoup(html_image, 'html.parser')

In [29]:
# Retrieve background image url from style tag/scrape url
img_url=soup.find('img', class_ = 'main_image')['src']
featured_img_url = "https://www.jpl.nasa.gov" + img_url
featured_img_url

'https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA20263_hires.jpg'

In [31]:
# Visit the url for for the latest Mars weather tweet through splinter module
url='https://twitter.com/marswxreport?lang=en'
browser.visit(url)


#Parse with 'html.parser';creation with beautifulsoup object
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [32]:
# collect the latest weather tweets
mars_weather=soup.find('p', class_= 'TweetTextSize').text
mars_weather

'High altitude notilucent clouds above Mars on sol 2410 via @MarsCuriosity  NavCam Credit NASA/JPL/Justin Cowartpic.twitter.com/4P1cueZR92'

In [40]:
# Visit Mars facts Url
#url='https://space-facts.com/mars/'

# Use Pandas to read table
facts_df=pd.read_html('https://space-facts.com/mars/')[0]
facts_df

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [41]:
# Find Mars facts DataFrame
facts_df.columns=["Description","Values"]
facts_df

            Description                         Values
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [42]:
# Generate HTML tables from DataFrame using Pandas and set column headers with description and value
facts_df=facts_df.to_html()
facts_df

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Description</th>\n      <th>Values</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Surface Temperature:</td>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [43]:
# Visit the Mars Hemispheres url through splinter module
url='https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(url)

In [45]:
# Parse with 'html.parser';creation with beautifulsoup object
html_hemispheres = browser.html
soup = BeautifulSoup(html_hemispheres , 'html.parser')

In [46]:
# Create an empty list of links for the hemispheres
hemisphere_image_urls=[]
products=soup.find ('div', class_='result-list')
hemispheres=products.find_all('div',{'class':'item'})

for hemisphere in hemispheres:
    title = hemisphere.find("h3").text
    title = title.replace("Enhanced", "")
    end_link = hemisphere.find("a")["href"]
    image_link = "https://astrogeology.usgs.gov/" + end_link    
    browser.visit(image_link)
    html_hemispheres = browser.html
    soup=BeautifulSoup(html_hemispheres, "html.parser")
    downloads = soup.find("div", class_="downloads")
    image_url = downloads.find("a")["href"]
    hemisphere_image_urls.append({"title": title, "img_url": image_url})

In [47]:
# Display hemisphere image urls
hemisphere_image_urls

[{'title': 'Cerberus Hemisphere ',
  'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg'},
 {'title': 'Schiaparelli Hemisphere ',
  'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg'},
 {'title': 'Syrtis Major Hemisphere ',
  'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg'},
 {'title': 'Valles Marineris Hemisphere ',
  'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg'}]